@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----------------general */
body {
    font-family: 'Poppins', sans-serif;
}

.contatiner {
    width: 99%;
}

.textMenuBottom {
    font-size: 10px;
}

.navbar-expand .navbar-nav .nav-link {
    color: #C8CBCA;
}

.active .nav-link {
    color: #0F663D !important;
}

.active .svgMenuBottom {
    fill: #1DBF73;
}

.active .inner-svgMenuBottom {
    fill: #0F663D;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mt-35 {
    margin-top: 35px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-25 {
    padding-left: 25px;
}


.pr-5 {
    padding-right: 5px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-25 {
    padding-right: 25px;
}

.r-pl {
    padding-left: 65px;
}
/* ----------------/general */

/* ----------------animasi donasi bebas */
.containerDonasiBebas {
    /* width: 200px;
    height: 100%; */
    margin: 0 auto 0;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    background: transparent;
  }
  
  .pulse-button {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.3em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #1DBF73;
    cursor: pointer;
    box-shadow: 0 0 0 0 #1DBF73;
    -webkit-animation: pulse 1.5s infinite;
  }
  
  .pulse-button:hover {
    -webkit-animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }
/* ----------------/animasi donasi bebas */

/* ----------------home */
.input-group {
    width: 95%;
}

#search-top {
    /* padding-left: 9%; */
    padding-left: 30px;
}

.input-group-append .search-icon {
    position: absolute;
    /* margin-left: -86%; */
    left: 55px;
    margin-top: 10px;
}

.category a {
    text-decoration: none;
    color: #000000;
}

.CampaignMendesak .judul {
    font-weight: bolder;
    color: #000000;
    padding-left: 0;
}

.footer-CampaignMendesak {
    clear: both;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-CampaignMendesak .text-start{
    float: left;
    font-size: smaller;
}

.footer-CampaignMendesak .text-end{
    float: right;
    font-size: smaller;
}

.p-3px {
    padding: 3px;
}

.CampaignMendesak .card {
    border-radius: 15px;
    /* box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08); */
}

.judulCampaignMendesak {
    font-weight: bolder;
}

.CampaignMendesak img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0;
}

.CampaignMendesak .jumlahDonasi {
    color: #1DBF73;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.CampaignMendesak p {
    color: #4F4F4F;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.judulCampaignMendesak, .padding-progressbar {
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller;
}

.wakaf {
    color: #FFFFFF;
    background: linear-gradient(78.12deg, #1DBF73 0%, rgba(29, 191, 115, 0.4) 100%);
}

.judulh6 {
    font-size: 0.8rem;
}

.wrapLihatSemua {
    margin-top: -47px;
    position: absolute;
    /* width: 32vw; */
    width: 95vw;
}

.lihatSemuaCampaign {
    position: relative;
    color: #1DBF73;
    text-decoration: none;
    /* margin-left: 75%; */
    margin-left: 93%;
    font-size: 0.8rem;
}

.lihatSemuaCampaign:hover {
    color: #1DBF73;
}

.scrolling-wrapper {
    overflow-x: auto;
}
/* ----------------/home */


/* ----------------daftar */
.formDaftar label {
    font-size: 12px;
}
/* ----------------/daftar */


/* ----------------Detail  */
.cardDetail i{
    color: #1DBF73;
}

.terkumpulTarget {
    clear: both;
    margin-top: 20px;
    font-size: 12px;
}

.terkumpulTarget .text-start{
    float: left;
}

.terkumpulTarget .text-end{
    float: right;
}

.jumlah {
    font-size: 16px;
    color: #1DBF73;
}

.detailBack {
    position: absolute;
    font-size: 30px;
    padding-top: 68px;
    padding-left: 24px;
}

.detailBack i {
    color: #FFFFFF;
}

.nav-tabs {
    clear: left;
}

.nav-tabs .nav-link {
    border: none;
    color: #C8CBCA;
    /* font-size: 14px; */
    font-size: 0.8rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 2px solid #1DBF73; 
    color: #4F4F4F;
}

.tab-content {
    font-size: 12px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #1DBF73;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #1DBF73;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline > li > i {
    position: absolute;
    margin-left: -30px;
    margin-top: -1px;
    font-size: 16px;
    z-index: 401;
}

ul.timeline > li > a {
    font-weight: bolder;
    color: #4F4F4F;
    text-decoration: none;
}

.testimoniDonatur {
    padding-top: 25px;
}

#Donatur .float-start {
    margin-left: 10px;
}

#Donatur .float-end {
    font-weight: bolder;
    color: #1DBF73;
}

.lihatSemuaDonatur {
    text-decoration: none;
    color: #1DBF73;
}
/* ----------------/Detail */

/* ----------------Detail Donatur */
.detailBackDonatur {
    font-size: 30px;
    float: left;
}

.detailBackDonatur i {
    color: #000000;
}

.textDonatur {
    line-height: 3;
}
/* ----------------/Detail Donatur */

/* ----------------campaign list */
.navbar-brand .arrow-left-short-icon {
    font-size: 30px;
}

.search-campaign .search-icon {
    position: absolute;
    /* margin-left: -86%; */
    left: 60px;
    margin-top: 15px;
}

#search-campaign {
    /* padding-left: 9%; */
    padding-left: 40px;
}

.cardDetail {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-img-CampaignList {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* ----------------/campaign list */

/* ----------------Detail Donasi */
.pilihMetode {
    text-decoration: none;
    position: absolute;
    margin-top: -52px;
    /* margin-left: 390px; */
    right: 55px;
    color: #1DBF73;
    font-size: 12px;
}

.anonim {
    clear: both;
    margin-top: 20px;
}

.anonim .text-start{
    float: left;
}

.anonim .text-end{
    float: right;
}

.pilihMetodePembayaran {
    margin-top: 15px;
}

.bankTransfer {
    font-size: 14px;
}

.pembayaranMelalui {
    font-size: 12px;
}

.salin {
    text-decoration: none;
    position: absolute;
    margin-top: -60px;
    /* margin-left: 375px; */
    right: 41px;
    color: #FFFFFF;
    font-size: 12px;
}

.alert-success i {
    float: left;
    margin-top: -13px;
}

.alert-success p{
    float: left;
    margin-top: -10px;
    margin-left: 5px;
    font-size: 11px;
}

.tataCaraPembayaran {
    text-decoration: none;
    color: #1DBF73;
}
/* ----------------Detail Donasi */


/* ----------------profile */
.profile {
    background: #1DBF73;
    height: 175px;
}

.profile img {
    margin-left: 24px;
    margin-right: 15px;
    margin-top: 35px;
}

.profile span {
    margin-top: 49px;
    color: #FFFFFF;
}

.statusDonatur {
    font-size: 12px;
}

.wrapSaldo {
    /* width: 410px; */
    z-index: 2;
    margin-top: -35px;
}

.saldo {
    background: #FFFFFF;
    height: 70px;
    border-radius: 5px;
    box-shadow: 1px 1px #888888;
}

.saldoText {
    font-size: 12px;
    margin-left: 15px;
    color: #1DBF73;
}

.jumlahSaldo {
    font-size: 18px;
    margin-left: 15px;
}

.gopayLogo {
    margin-left: 10px;
}

.saldo .btn {
    float: right;
    margin-right: 15px;
    margin-top: -15px;
}

.menuProfile {
    margin-top: 10px;
}

.menuProfile ul li {
    list-style: none;
    margin-bottom: 10px;
}

.menuProfile ul li a {
    text-decoration: none;
    color: #4F4F4F;
}
/* ----------------/profile */


/* ----------------galangDana */
.galangDanaText {
    margin-top: 15px;
}

.item .item-content {
    padding: 30px 35px
}

.image-upload {
    width: 150px;
    height: 150px;
    border: 1px dashed #1DBF73;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    background: #FFFFFF;
    color: #1DBF73;
    overflow: hidden
}

.item-wrapper form img {
    margin-bottom: 20px;
    width: auto;
    height: auto;
    max-height: 400px;
    width: auto;
    border-radius: 5px;
    overflow: hidden
}

.image-upload img {
    height: 100% !important;
    width: auto !important;
    border-radius: 0px;
    margin: 0 auto
}

.image-upload i {
    font-size: 4em;
    color: #1DBF73;
}

.image-upload input {
    cursor: pointer;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0
}

.item-wrapper input {
    height: 43px;
    line-height: 43px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px
}

.tambahText {
    margin-top: -25px;
}
/* ----------------/galangDana */


.contentResponsive {
    flex-wrap: wrap;
    overflow-x: unset;
}

@media screen and (max-width: 768px) {
    .contentResponsive {
        flex-wrap: nowrap!important;
        overflow-x: auto;
    }

    .r-pl {
        padding-left: 25px;
    }

    .wrapLihatSemua {
        width: 87vw;
    }

    .lihatSemuaCampaign {
        margin-left: 75%;
    }

    .alert-success p {
        font-size: 8px;
        line-height: 3;
    }

    .wrapSaldo {
        width: 410px;
    }

    .pilihMetode {
        right: 40px;
    }

    .salin {
        right: 31px;
    }
}


.progress-item .single-progressbar .progressbar {
    width: 100%;
    position: relative;
    background-color: #f4f4f4;
}

.progress-item .single-progressbar .progressbar .proggress {
    background-color: var(--secondary-color) !important;
}

.progress-item .single-progressbar .progressbar .percentCount {
    position: absolute;
    color: white;
    left: 0%;
    top: -30px;
    background-color: #1dbf73;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 500;
}

.progress-content .goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

.progressbar
{
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-radius: 0px;
}

.progress{
    background-color: rgb(255, 138, 115);
    height: 5px;
    border-radius: 0px;
    width: 10.25%;
}

.percentCount:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid #1DBF73 !important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.breadcrumb-inner {
    color: #fff;
}

.breadcrumb-inner li{
    display: inline-block;
}

.dashboard-form-wrapper .form-control{
    height: 50px;
}

.dashboard-form-wrapper .form-group{
    margin: 15px 0px;
}

.user-dashboard-card.style-01 {
    background-color:#1DBF73;
}

.user-dashboard-card.style-01 .content{
    padding: 20px;
    color: #FFFFFF;
}

.user-dashboard-card.style-01 .icon i{
    font-size: 30px;
    padding: 10px 10px;
    color: #FFFFFF;
}

.form-group{
    margin: 15px 0px;
}

.status-wrap .alert-warning
{
    padding: 5px 5px;
}

.fade.show {
    z-index: 1;
}

.profile img {
    height: 60px;
    border-radius: 50%;
}

.custom-form-design {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 25px !important;
}

.custom-form-design input {
    border: none !important;
    height: 45px;
}

.custom-form-design input:focus {
    box-shadow: none;
}

.custom-form-design button {
    height: 45px;
    padding: 0 27px;
    border: 0;
    background-color: #1DBF73;
    color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #1DBF73;
}

.custom-form-design button:focus {
    box-shadow: none !important;
}

.custom-form-design button:hover {
    background-color: transparent;
    color: #1DBF73;
    border-color: #ddd;
}

.custom-form-design i {
    display: inline-block;
    font-size: 16px;
}

.contatiner {
    width: 99%;
    margin: auto;
}

.goal {
    display: flex !important;
    margin-top: 40px;
    justify-content: space-between;
}

.goal .raised {
    margin-right: 15px !important;
    color: #1DBF73;
}

.goal .right {
    text-align: right;
}

.goal .title {
    display: block;
    margin-bottom: 10px;
}

.goal .right .raised {
    margin-right: 0 !important;
}

.social-links {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

ul.social-links li {
    margin-right: 15px;
}

.share-list-icon {
    display: flex;
    align-items: center;
}

h5.share-title {
    margin-right: 15px;
    margin-bottom: 0;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.donation_wrapper {
    padding: 30px;
    background: transparent;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 5%);
}
.donation_wrapper {
    padding: 55px 45px 60px;
}

.payment-gateway-wrapper ul {
    flex-wrap: wrap;
}
.payment-gateway-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 20px 0;
}


element.style {
}
.donation_wrapper .goback-btn {
    display: inline-block;
    width: auto;
    background-color: transparent;
    border: 1px solid;
    color: var(--heading-color);
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 20px;
    text-decoration: none;
}

.donation_wrapper .single_amount_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.donation_wrapper .single_amount_wrapper .single_amount {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    color: var(--heading-color);
    background: transparent;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid;
}

.donation_wrapper .amount_wrapper input[name="amount"] {
    height: 50px;
    border: 2px solid #e2e2e2;
    color: var(--heading-color) !important;
    font-size: 40px;
    font-weight: 700;
    -webkit-appearance: none;
    line-height: 50px;
    appearance: none;
    text-align: right;
    background: transparent !important;
}

.donation_wrapper .amount_wrapper .suffix {
    border-radius: 5px 0 0 5px;
    width: 100px;
    border: 2px solid #e2e2e2;
    border-right: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.donation_wrapper .amount_wrapper input {
    border-radius: 0 8px 8px 0;
    border-right: 0;
    outline: none;
}
.donation_wrapper .amount_wrapper input, .donation_wrapper .amount_wrapper .suffix {
    padding: 8px;
    border: 0;
    background-color: #fff;
    width: 100%;
}

.donation-form-wrapper input {
    height: 40px;
    border: 1px solid #e2e2e2;
}

.donation-form-wrapper input[type="checkbox"] {
    height: auto;
}
.donation-form-wrapper input {
    height: 40px;
    border: 1px solid #e2e2e2;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}

.form-check-label {
    margin-bottom: 0;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.payment-gateway-wrapper ul li {
    min-width: 80px;
    margin: 5px;
}
.payment-gateway-wrapper ul li {
    max-width: 100px;
    cursor: pointer;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.donation-amount-details-wrapper>.title {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
}

.donation-amount-details-wrapper .your-area-donation-wrap .content .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.donation-amount-details-wrapper {
    padding: 30px;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 5%);
}

.donation-amount-details-wrapper .your-area-donation-wrap .content .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.donation-amount-details-wrapper .your-area-donation-wrap .content .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.donation-amount-details-wrapper span.price {
    word-break: break-all;
}

.order-cancel-area .title, .order-success-area .title {
    color: var(--main-color-one);
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.billing-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.billing-details li:before {
    position: static;
    padding-right: 10px;
    content: "\f30b";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: var(--secondary-color);
}

.billing-details li {
    list-style-type: none;
}

.contribute-single-item .content .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 23px;
}

.contribute-single-item .content {
    padding: 0 15px 25px 20px;
}

.contribute-single-item .thumb {
    padding: 25px 30px;
    position: relative;
    z-index: 0;
    width: 100%;
}

.user-dashboard-wrapper {
    padding: 80px 0;
}
.user-dashboard-wrapper {
    display: flex;
    justify-content: space-between;
}

.user-dashboard-wrapper>ul {
    display: inline-block;
    width: 260px;
    background-color: #1d2228;
    padding-bottom: 5px;
}

.nav {
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.user-dashboard-wrapper .tab-content {
    width: calc(100% - 300px);
}
.margin-top-10 {
    margin-top: 10px;
}

.user-dahsboard-order-info-wrap .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.user-dahsboard-order-info-wrap small {
    font-size: 14px;
}

.user-dahsboard-order-info-wrap small {
    font-size: 14px;
}

.blog-pagination {
    display: inline-block;
}

.alert-warning {
    padding: 5px 5px;
}

 .progress-item .single-progressbar .progressbar .proggress {
    background-color: #43bc75 !important;
}

 .progress-item .single-progressbar .progressbar {
    border-radius: 10px !important;
}

.amount_wrapper.donat {
    display: flex;
}

.amount_wrapper.donat .suffix {
    width: 20%;
    border: 2px solid #ddd;
    border-right: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.donation-form-wrapper input[type="checkbox"] {
    height: 13px;
    width: 13px;
}

.payment-gateway-wrapper ul li {
    position: relative;
}

.payment-gateway-wrapper ul li:before {
    border: 2px solid #ffc107;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.payment-gateway-wrapper ul li.selected:before {
    visibility: visible;
    opacity: 1;
}

.payment-gateway-wrapper ul li:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: var(--main-color-two);
    content: "\f00c";
    font-weight: 900;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    padding-top: 2px;
    padding-left: 2px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.payment-gateway-wrapper ul li.selected:after {

    visibility: visible;
    opacity: 1;
    transition: all .3s;
}

.img-select img {
    width: 100px;
    height: 50px;
}

.progressbar{width: 100%; margin-top: 5px; margin-bottom: 25px; position: relative; background-color: #f4f4f4;}.proggress{height: 8px; width: 10px; background-color: #ff0;}.percentCount{float: right; margin-top: -42px; clear: both; font-weight: 700; font-size: 13px; color: #777777;}


.proggress {
    height: 13px !important;
}

.goal {
    display: flex !important;
    margin-top: 0px;
    justify-content: space-between;
}

.card-custom-content {
    padding: 15px;
}

.single-custom-content .nav-tabs .nav-link:focus {
    outline: 0;
}

#Donatur .float-end {
    font-weight: bolder;
    color: #1DBF73;
    float: right;
}

.percentCount {
    top: 0 !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.donation-amount-details-wrapper .your-area-donation-wrap .content .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 11px;
    margin-top: 20px;
}

ul.overview-01 li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main-title {
    color: #333;
    font-size: 22px;
}

.main-title:hover {
    color: #1DBF73;
    text-decoration: none;
}

.slick-arrow {
    font-size: 20px !important;
    color: #fff !important;
    background-color: #1DBF73;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.next-arrow.slick-arrow {
    right: 20px;
}

.prev-arrow.slick-arrow {
    left: 20px;
}

.slick-arrow:hover {
    cursor: pointer;
}

.space-01 {
    display: flex;
    flex-direction: column;
}

.space-01 .btn-01 {
    display: inline-block;
    text-align: center;
    width: 108px;
}

.card-custom-content {
    box-sizing: border-box;
}


.card .progress-content {
    margin-top: 50px;
}
#login_form_order_page {
    margin-top: 50px;
}
#login_form_order_page #login_btn {
    width: 100%;
}

a.btn.btn-outline-danger {
    width: 100%;
}

a.btn.btn-outline-primary {
    width: 100%;
    margin-top: 10px;
}

nav.navbar.sticky-top.navbar-white.bg-white a {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: block;
    width: 100px;
}
nav.navbar.sticky-top.navbar-white.bg-white a img {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
nav.navbar.sticky-top.navbar-white.bg-white {
    width: 100%;
}

button.btn.btn-lg.btn-success.d-block {
    width: 100%;
}

body {
    overflow-x: hidden;
}

.single-blog .blog-thums {
    position: relative;
    z-index: 2;
}

.single-blog .blog-thums .blog-date-content {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background: #1DBF73;
}

.single-blog .blog-thums .blog-date-content .blog-dates h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
}

.single-blog .blog-thums .blog-date-content .blog-dates span {
    display: block;
    font-size: 12px;
    color: #fff;
}
.single-blog .blog-thums .blog-date-content.color-three {
    background: #F86048;
}
.blog-contents .blog-tag {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.blog-contents .blog-tag a {
    color: #666;
}
.blog-contents .blog-tag::before {
    content: "\f02b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #1DBF73;
    margin-right: 10px;
}

.blog-contents .blog-title {
    font-size: 22px;
    font-weight: 700;
    color: #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.CampaignMendesak p {
    color: #4F4F4F;
    font-size: 14px;
}
.blog-details-item .post-meta {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
    margin-top: 20px;
}

.blog-details-item .post-meta li,
.blog-details-item .post-meta li .cats
{
    display: inline-block;
    font-size: 14px;
    color: #333;
}
.blog-details-item .post-meta li .cats a{
    color: #333;
}
.blog-details-item .post-meta li:not(:last-child){
    margin-right: 10px;
}

.blog-details-item .post-meta li i {
    color: #00bdc0;
    margin-right: 5px;
}

.widget {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    padding: 25px 30px 30px 30px;
}

.widget_search .search-form {
    position: relative;
}

.widget_search .search-form .form-group {
    margin-bottom: 0;
}

.widget_search .search-form .form-group .form-control {
    height: 50px;
    border: none;
    border-radius: 0;
    border-left: 2px solid #1DBF73;
    padding: 0 70px 0 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.widget_search .search-form .submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    font-size: 18px;
    background-color: transparent;
    color: #333;
    transition: 0.3s ease-in;
    border: none;
    cursor: pointer;
}

.widget .widget-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 25px;
    text-transform: capitalize;
    position: relative;
    font-family: var(--heading-font);
}

.widget .widget-title:before {
    position: static;
    border-left: 3px solid #1DBF73;
    content: '';
    padding-right: 10px;
}

.widget .recent_post_item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget .recent_post_item li.single-recent-post-item {
    display: flex;
    align-self: flex-start;
}

.widget ul li:first-child {
    margin-top: 0px;
}

.widget .recent_post_item li {
    display: block;
}

.widget ul li {
    display: block;
    margin: 10px 0;
    -ms-word-wrap: break-word;
    word-break: break-word;
}

.widget .recent_post_item li.single-recent-post-item .thumb {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.widget .recent_post_item li.single-recent-post-item .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.widget .recent_post_item li.single-recent-post-item .content {
    flex: 1;
}

.widget .recent_post_item li.single-recent-post-item .content .title a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #333;
    transition: all .3s;
}
.widget .recent_post_item li.single-recent-post-item .content .title a:hover{
    color: #1DBF73;
    text-decoration: none;
}


.widget .recent_post_item li.single-recent-post-item .content .time {
    font-size: 12px;
    font-weight: 500;
    color: #959ba0;
}

.widget .widget-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 25px;
    text-transform: capitalize;
    position: relative;
    font-family: var(--heading-font);
}

.widget .widget-title:before {
    position: static;
    border-left: 3px solid #1DBF73;
    content: '';
    padding-right: 10px;
}

.widget ul li a {
    color: #333;
    transition: all 0.3s ease-in;
}
.widget ul li a:hover{
    color: #1DBF73;
    text-decoration: none;
}
.widget ul li a i {
    color: #1DBF73;
}

.blog-details-item {
    padding: 20px;
}

.blog-details-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    border-top: 1px solid #f5f5f5;
    padding-top: 25px;
}

.blog-details-footer .left .tags {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-details-footer .left .tags li {
    display: inline-block;
}

.blog-details-footer .title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.blog-details-footer .left .tags li a {
    display: inline-block;
    margin: 5px;
    color: inherit;
    transition: all 0.3s ease-in;
    border-radius: 5px;
    font-size: 14px !important;
    transition: all 0.3s ease-in;
}

.blog-details-footer .left .tags li a:hover {
    color: #1DBF73;
    text-decoration: none;
}

.blog-details-footer .right .social-share {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-details-footer .right .social-share li {
    font-weight: 700;
    font-family: var(--heading-font);
    display: inline-block;
    transition: all 0.3s ease-in;
}

.blog-details-footer .right .social-share li + li {
    margin-left: 10px;
}

.blog-details-footer .right .social-share li i {
    margin-right: 5px;
    color: #1DBF73;
}

div#thread__container {
    padding: 20px;
}

.disqus-footer__wrapper {
    border-top: 2px solid #e7e9ee;
    padding: 7px 0 10px;
}

.disqus-footer {
    display: -ms-flexbox;
    display: flex;
    padding: 0 4px;
}
.disqus-footer__list {
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
}

.disqus-footer__item {
    margin: 0;
    border: none;
    padding: 1px 15px 10px 0;
    position: relative;
}
.disqus-footer__link {
    font-size: 11px;
    padding: 0 0 0 18px;
    color: #656c7a;
    font-weight: 700;
}

.email .icon {
    font-size: 16px;
    top: 1px;
}

div#thread__container {
    padding: 0px 20px;
}

div#layout {
    padding: 0 20px;
}

#thread__wrapper {
    padding: 0 20px !important;
}

#conversation {
    padding: 0 20px;
}
.single-blog-grid-01 {
    position: relative;
    z-index: 0;
}
.single-blog-grid-01 .thumb {
    position: relative;
}
.single-blog-grid-01 .thumb img {
    width: 100%;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.single-blog-grid-01 .content-wrapper {
    display: flex;
    padding: 40px 0 0;
}

.single-blog-grid-01 .content-wrapper .news-date {
    text-align: center;
    font-weight: 600;
    margin-right: 30px;
}

.single-blog-grid-01 .content-wrapper .news-date .title {
    background-color: var(--secondary-color);
    margin-bottom: 0;
    color: #fff;
    padding: 6px 20px;
    display: inline-block;
    font-weight: 600;
}

.single-blog-grid-01 .content-wrapper .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    transition: all 500ms;
}

.single-blog-grid-01 .content-wrapper .news-date span {
    background-color: var(--main-color-one);
    display: block;
    color: #fff;
    padding: 6px 0;
}

.single-blog-grid-01 .content-wrapper .post-meta {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single-blog-grid-01 .content-wrapper .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    transition: all 500ms;
}

.single-blog-grid-01 .content-wrapper .post-meta li {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
}
.single-blog-grid-01 .content-wrapper .post-meta li:not(:last-child){
    margin-right: 10px;
}

.single-blog-grid-01 .content-wrapper .post-meta li a {
    transition: all 500ms;
    color: #333;
}

.single-blog-grid-01 .content-wrapper .title a{
    color: #333;
}

.related-post-area .section-title .title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 30px;
}

.section-title .title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    font-family: var(--heading-font);
    margin-bottom: 14px;
    margin-top: 15px;
}

.disqus-comment-area.margin-top-40 {
    margin-top: 40px;
}

/*.related-news-carousel.global-carousel-init {*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    justify-content: center;*/
/*}*/

.single-blog-grid-01 {
    position: relative;
    z-index: 0;
    margin-top: 30px;
}
.related-post-area.margin-top-40 {
    padding: 0 20px;
}